{% extends "main/base.html" %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4 text-primary">Add New Product</h2>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <form method="post" class="needs-validation shadow-sm p-3 rounded-3 bg-light" novalidate>
                {% csrf_token %}
                {{ form.as_p }}

                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-sm w-100 rounded-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
