{% extends 'main/base.html' %}

{% block title %}Cart | Nur CRM{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Your Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.product.price }}</td>
                <td>$</td>
                <td>
                    <a href="{% url 'remove-from-cart' item.id %}" class="btn btn-danger btn-sm">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-end">
        <h4>Total: ${{ cart_total }}</h4>
        <a href="" class="btn btn-success">Proceed to Checkout</a>
    </div>
</div>
{% endblock %}
