{% extends 'main/base.html' %}

{% block title %}Products | Nur CRM{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Products in {{ category_name }}</h2>
    <div class="row g-4">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card shop-card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a href="{% url 'product-detail' product.id %}" class="btn btn-primary btn-sm">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
