{% extends "main/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>Welcome to your profile, {{ profile.user.username }}</h3>

                    {% if form.profile_picture.value %}
                        <img src="{{ form.profile_picture.value.url }}" alt="Profile Picture" />
                    {% else %}
                        <p>No Profile Image!</p>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <p class="card-text"><strong>Email:</strong> {{ profile.user.email }}</p>
                    
                    {% if profile.user.first_name and profile.user.last_name %}
                        <p class="card-text"><strong>Full Name:</strong> {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                    {% else %}
                        <p class="card-text"><strong>Full Name:</strong> No FullName yet!</p>
                    {% endif %}

                    {% if profile.user.country and profile.user.city and profile.user.address %}
                        <p class="card-text"><strong>Address:</strong> {{ profile.user.country }} | {{ profile.user.city }} | {{ profile.user.address }}</p>
                    {% else %}
                        <p class="card-text"><strong>Address:</strong> No Address yet!</p>
                    {% endif %}

                    <hr>
                    
                    <h5 class="card-title">Profile Details</h5>
                    <p class="card-text"><strong>Bio:</strong> {{ profile.bio|default:"No bio provided yet!" }}</p>
                    <p class="card-text"><strong>Website:</strong> {{ profile.website|default:"No website provided!" }}</p>
                    <p class="card-text"><strong>Date of Birth:</strong> {{ profile.date_of_birth|default:"Not provided" }}</p>
                    <p class="card-text"><strong>Last Login:</strong> {{ profile.updated_at }}</p>

                    {% if not profile.bio %}
                        <div class="alert alert-warning mt-3">
                            Your profile is incomplete. <a href="{% url 'update-profile' pk=request.user.profile.pk %}" class="btn btn-primary">Edit Profile</a>
                        </div>
                    {% endif %}
                    
                    <!-- Logout Button -->
                    <form action="{% url 'logout' %}" method="post" class="mt-4">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
